* {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
  --main-color: #9BBCB0;
  --main-background: black;
  --secondary-color: #C3BBAD;
  --text-color: white;
  --menu-text: 30pt;
  --title-text: 30pt;
  --home-button: 75pt;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-background);
}

body.is-active
{
  overflow: hidden;
}

/*Nav bar*/

.mainBar {
  width: 100%;
  height: 63px;
  margin: 0;
  padding: 0;
  background: var(--main-color);
  display: flex;
  justify-content: space-between;
}

.main-logo {
  height: 100%;
  padding: 0px;
  margin: 0;
}

/*////// Burger Button and actions //////*/

.hamburger {
  position: relative;
  display: block;
  width: 70px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  margin-right: 10px;
  margin-top: 2px;
}

.burger-button li {
  list-style: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--text-color);
  margin: 10px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: translate(0px, 13px) rotate(-45deg);
}

.hamburger.is-active:after {
  transform: translate(0px, -16px) rotate(45deg);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 53px;
  height: 100%;
  right: 100%;
  width: 100%;
  position: absolute;
  z-index: 98;
  margin-top: 10px;
  transition: 0.4s;
  background-color: var(--main-color);
  color: var(--text-color);
}

.mobile-nav ul {
  list-style: none;
  text-align: center;
  font-size: var(--menu-text);
}

.mobile-nav li {
  margin-top: 15px;
  position: relative;
  bottom: 50px;
}


.mobile-nav a {
  color: var(--text-color);
  text-decoration: none;
}

.mobile-nav a:hover {
  color: var(--secondary-color);
  transition: 0.5s;
  
}

.mobile-nav.is-active {
  right: 0;
  overflow-y: hidden;
}

/* Mobile first */
@media screen and (max-width: 600px) {
  .main-logo {
    height: 30px;
    padding: 4px;
    margin: 0;
  }

  .mainBar {
    height: 40px;
  }

  .hamburger {
    width: 55px;
    margin-right: 5px;
  }

  .hamburger .bar,
.hamburger:after,
.hamburger:before {
    margin: 6.5px 0;
    height: 3px;
  }
}

/*Main page*/

.main-photo {
  width: 100%;
}

.news {
  color: var(--text-color);
  margin-left: 30px;
  text-align: left;
}

.news img {
  text-align: center;
}

.dates {
  color: var(--text-color);
  margin-left: 30px;
  text-align: left;
}

.date-cards {
  width: 313px;
  height: 126px;
  background-color: var(--secondary-color);
  color: var(--main-background);
}

.date-text {
  margin-left: 5px;
  margin-top: 5px;
}

.footer {
height: 63px;
width: 100%;
background-color: var(--main-color);
display: flex;
flex-direction: row-reverse;
align-items: center;
}

.footer-text {
margin: auto 100px;
}

