* {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
  --main-color: #9BBCB0;
  --main-background: black;
  --secondary-color: #C3BBAD;
  --text-color: white;
  --menu-text: 30pt;
  --title-text: 30pt;
  --home-button: 75pt;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-background);
}

body.is-active
{
  overflow: hidden;
}

/*Nav bar*/

.mainBar {
  width: 100%;
  height: 63px;
  margin: 0;
  padding: 0;
  background: var(--main-color);
  display: flex;
  justify-content: space-between;
}

.main-logo {
  height: 100%;
  padding: 0px;
  margin: 0;
}

/*////// Burger Button and actions //////*/

.hamburger {
  position: absolute;
  right: 0;
  display: block;
  width: 70px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  margin-right: 5px;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 10px;
}

.burger-line {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
  transition: all 0.3s ease;
  top: 5px;
  justify-content: space-around;
}

.open1 {
  transform: rotate(45deg);
  top: 16px;
}

.open2 {
  opacity: 0;
}

.open3 {
  transform: rotate(-45deg);
  position: relative;
  top: -10px;
  display: block;

}

/* .burger-button li {
  list-style: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--text-color);
  margin: 10px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: translate(0px, 13px) rotate(-45deg);
}

.hamburger.is-active:after {
  transform: translate(0px, -16px) rotate(45deg);
}

.hamburger.is-active .bar {
  opacity: 0;
} */

/* //////////////////////////////////////////////// */

.mobile-nav.is-active {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 70px;
  z-index: 98;
  margin-top: 40px;
  background-color: var(--main-color);
  color: var(--text-color);
  width: 100%;
  
}

.menu {
  display: flex;
  background-color: var(--main-color);
  position: absolute;
  top: 62px;
  height: 100%;
  width: 100%;
  right: 50%;
  background-color: var(--main-color);
  color: var(--text-color);
  transition: 0.8s;
}

.menu.open {
  transform: translateX(-100%); /* Slide the menu to the left */
}

.menu ul {
  list-style: none;
  text-align: center;
  font-size: var(--menu-text);
  background-color: var(--main-color);
  color: var(--text-color);
  width: 100%;
  position: relative;
  top: 45px;
}

.menu li {
  margin-top: 15px;
  position: relative;
  bottom: 50px;
}


.menu a {
  color: var(--text-color);
  text-decoration: none;
  
}

.menu a:hover {
  color: var(--secondary-color);
  transition: 0.5s;
  
}

.menu {
  right: 0;
  overflow-y: hidden;
}

.grouptitle {
  color: aqua;
}

.date-cards {
  display: flex;
  gap: 20px;
  width: 100%;
}

.dates {
  margin-right: 30px;

}

/* Mobile first */
@media screen and (max-width: 768px) {
  .main-logo {
    height: 30px;
    padding: 4px;
    margin: 0;
  }

  .mainBar {
    height: 40px;
  }

  .hamburger {
    top: -2px;
    width: 50px;
  }

  .open1 {
    top: 18px;
  }

  .open3 {
    top: -8px;
  
  }

  .date-cards {
    display: block;
  }

  .menu {
    top: 39px;
  }

  /*
  .hamburger .bar,
.hamburger:after,
.hamburger:before {
    margin: 6.5px 0;
    height: 3px;
  }*/
} 

/*Main page*/

.main-photo {
  width: 100%;
}

.news {
  color: var(--text-color);
  margin-left: 30px;
  text-align: left;
}

.news img {
  text-align: center;
}

.dates {
  color: var(--text-color);
  margin-left: 30px;
  text-align: left;
}



.date-card-item {
  width: 90.5%;
  height: 126px;
  background-color: var(--secondary-color);
  color: var(--main-background);
}

.date-text {
  margin-left: 5px;
  margin-top: 5px;
}

.discog h1,
.discog h4 {
  color: var(--text-color);
  text-align: left;
  margin-left: 30px;
}

.discog a {
  display: flex;
  justify-content: center;
  margin-left: 0;
  
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 55px;
  justify-content: space-between;
  align-items: center;
}

.email-input {
  background-color: var(--main-background);
  text-align: center;
  color: white;
  border: var(--text-color) solid 4px;
  height: 57px;
  width: 83%;
}

.email-input::placeholder {
  color: var(--text-color);
}

.button-input {
  background-color: var(--secondary-color);
  text-align: center;
  color: white;
  border: var(--text-color) solid 4px;
  height: 67px;
  width: 87.5%;
}

.socials {
  display: flex;  
  justify-content: center;
}

.youtube {
  position: relative;
  top: 7px;
}


.footer {
height: 63px;
width: 100%;
background-color: var(--main-color);
display: flex;
flex-direction: row-reverse;
align-items: center;
}

.footer-text {
margin: auto 30px;
}

